
  .detailssection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 200px;
    align-items:flex-start;
    margin-top: 10vh;
    padding: 0 15px;
    /* border: 1px solid purple; */
    /* width: 800px; */
  }

  .image-gallery{
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    align-items: center;
    margin-bottom: 5vh;
    /* border: 1px solid purple; */
  }
  
  .large-image-container {
    width: fit-content;
    height: max-content;
    margin: 20px;
    display: flex;
    /* align-items: center;  */
    justify-content: center;
  }
  
  .large-image-container img {
    width:20%;
    position: absolute;
    cursor: zoom-in;
    transition: 2s ease;
  }
  
  .large-image-container img.fullscreen {
    position: absolute;
    /* display: flex; */
    /* align-items: center; */
    width: 60%;
    z-index: 9999;
    cursor: zoom-out;
  }

  .small-images-container {
    display: flex;
    justify-content: center;
    border: 1px solid purple;
  }
  
  .small-images-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 5px;
    border: 2px solid transparent;
    cursor: pointer;
  }
  
  .small-images-container img.selected {
    border-color: purple;
  }
  .impbuy{
    margin-top: 5vh;
    margin-bottom: 2vh;
    display: flex;
    width: 100%;
    /* margin:auto; */
  }
  .buybtn{
    background-color: rgb(160, 8, 105);
    border-radius: 50px;
    color: white;
    width: 30vh;
    height: 8vh;
    transition: 1s ease;
  }
  .buybtn:hover{
    background-color: rgb(75, 9, 60);
  }

  @media screen and (max-width: 768px) {
    .impbuy{
      margin-top: 5vh;
      margin-bottom: 2vh;
      /* display: flex; */
      /* width: calc(screen); */
      /* margin:auto; */
    }
    .buybtn{
      width: 20vh;
    }
    .detailssection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      align-items: center;
      margin-top: 10vh;
      /* padding: 0 15px; */
    }
  
    .image-gallery{
      display: flex;
      flex-direction: column;
      /* width: calc(screen); */
      /* margin: auto; */
      align-items: center;
      margin-bottom: 5vh;
      border: 1px solid black;
    }
    
    .large-image-container {
      width: fit-content;
      height: max-content;
      display: flex;
      /* align-items: last baseline; */
      /* align-items: flex-end; */
      /* margin: 20px; */
    }
    
    .large-image-container img {
      position:inherit;
      width: 100%;
      /* padding: 3vh; */
      cursor: zoom-in;
      transition: 1s ease;
    }
    
    .large-image-container img.fullscreen {
      position: inherit;
      margin-left: 80vw;
      /* display: flex; */
      /* align-items: center; */
      width: 200%;
      /* height: 200%; */
      z-index: 9999;
      cursor: zoom-out;
    }
  }