*{
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
  margin-top: 150px;
  margin-bottom: 80px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.topbar{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  align-items: center;
  font-family: 'Montserrat',sans-serif;
  padding-top: 50px;
  background-color: white;
}
.brandname{
  z-index: 1;
  font-family: 'Montserrat',sans-serif;
  font-size: 5vw;
  /* position: fixed; */
  width: 100%;
  color: black;
  letter-spacing: 0.3vw;
  margin: auto;
  text-align: center;
}

.card:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .brandname {
    font-size: 7vw;
    letter-spacing: 0.5vw;
  }
}

@media screen and (max-width: 480px) {
  .brandname {
    font-size: 7vw;
    letter-spacing: 0.7vw;
  }
}